html ,body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	font-size: 12px;
}

.small {
	font-size: 22px;
}

.medium {
	font-size: 32px;
}

.mainTitle {
	display: inline-block;
	font-size: 16px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #E26700;
	text-align: center;
}

.bgColor {
	min-width: 900px;
    height: 100%;
    min-height: 100%;
	margin: 0 auto;
	background-color: #cccccc;

	.center {
		width: 320px;
		margin: 0 auto;
		position: relative;

		.mobileBg {
			width: 320px;
			margin: 30px auto;
		}

		.pageLayout {
			position: absolute;
			left: 15px;
			top: 106px;
			width: 291px;
			height: 490px;
			@include radius(5px, bottom, left);
			@include radius(5px, bottom, right);
			overflow: hidden;
		}		
	}
}

.infoBar, .header {
	width: 291px;
}

.infoBar {
	height: 20px;
	background-color: #4F4F4F;
	position: absolute;
	left: 15px;
	top: 86px;
	@include radius(5px, top, left);
	@include radius(5px, top, right);
}

.header {
	height: 40px;
	line-height: 40px;
	background-color: #FFEFC7;
	position: relative;
	-webkit-box-shadow: 0 1px 6px 0px rgba(39,39,39,0.2);
	-moz-box-shadow: 0 1px 6px 0px rgba(39,39,39,0.2);
	box-shadow: 0 1px 6px 0px rgba(39,39,39,0.2);
	z-index: 9990;

	.iconRight, .iconLeft {
		color: #E26700;
		position: absolute;
		top: 0;
		cursor: pointer;
	}

	.iconLeft {
		left: 10px;
	}

	.iconRight {
		right: 10px;
	}
}

.thumbnail {
	display: inline-block;
	@include radius(15px);
	width: 30px;
	height: 30px;
	background: url(../images/thumnails.png) no-repeat;

	&.head01 {
		background-position: -28px 0px;
	}

	&.head02 {
		background-position: -28px -33px;
	}

	&.head03 {
		background-position: -28px -66px;
	}

	&.head04 {
		background-position: -28px -99px;
	}

	&.head05 {
		background-position: -28px -132px;
	}
}

.viewNum {
	width: 56px;
	height: 30px;
	line-height: 30px;
	@include radius(15px);
	background-color: rgba(255, 255, 255, 0.6);
	color: #565656;
	text-align: center;
	display: inline-block;
}