//首頁
#loading {
	background-color: #FFEBBE;
	z-index: 9991;

	h1 {
		text-align: center;
		color: #f90;
		width: 100%;
		font-size: 26px;
		margin: 180px auto;
		font-family: 'Titillium Web', sans-serif;
	}
}

//Feed 
#recipe001 {
	background-color: #E5E5E5;

	.container {
		overflow: scroll;
		width: 291px;
		height: 450px;

		.feedRecipeWrap {
			width: 100%;
			height: 174px;
			margin-bottom: 10px;
			@include shadow(0px, 1px, 2px, 0px, rgba(176, 176, 176, 0.5));
			position: relative;
			cursor: pointer;

			.overlayer {
				width: 100%;
				height: 20%;
				text-align: right;
				position: absolute;
				bottom: 0;
				background-color: rgba(255, 249, 239, 0.6);
				
				span {
					margin: 3px 1px 5px;
					vertical-align: middle;

					&.feedRecipeName {
						max-width: 170px;
						overflow: hidden;
						text-overflow : ellipsis;
						white-space: nowrap;
						font-size: 20px;
						color: #672B00;
						margin-right: 15px;
					}
				}
			}
		}
	}

	#container_wrap {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		position: relative;
		left: 0;

		&.cbp-spmenu-push-toright {		
			left: 244px;
		}
	}

	#recipe_wrap {
		z-index: 9999;

		.container .foodOverview {
			width: 300px;
			height: auto;

			&.blur {
				filter: blur(14px);
				// Browser Specific
				-webkit-filter: blur(14px);
				-moz-filter: blur(14px);
				-o-filter: blur(14px);
				-ms-filter: blur(14px);
				-webkit-box-shadow: 0 0 1px 15px #BDBDBD;
				-moz-box-shadow: 0 0 1px 15px #BDBDBD;
				box-shadow: 0 0 1px 15px #BDBDBD;
			}
		}

		&.hide {
			position: absolute;
			left: -300px;
			top: 0;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}

		&.show {
			position: absolute;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			left: 0px;
			top: 0;
		}

		.cardWrap {
			width: 1200px;
			height: 360px;
			overflow: hidden;
			position: absolute;
			left: 20px;
			top: 85px;
			display: none;

			.intro {
				.authorInfo {
					font-size: 16px;
					color: #ffffff;
					line-height: 34px;
					height: 34px;
					padding-bottom: 10px;

					.thumbnailBg {
						display: inline-block;
						background-color: rgba(255,255,255,0.5);
						width: 30px;
						height: 30px;
						padding: 2px;
						@include radius(17px);
						vertical-align: middle;
						margin-right: 10px;
					}
				}

				.suggestion {
					line-height: 18px;
					white-space: pre-wrap;
					color: #EDEDED;
				}

				.rate {
					color: #EFBE00;
					font-size: 16px;
					letter-spacing: 6px;

					.noneRate {
						color: #ffffff;
					}
				}

				.cookInfo {
					width: 380px;
					overflow: hidden;
					padding-left: 0;

					li {
						float: left;
						width: 64px;
						font-size: 0.7em;
						text-align: center;
						color: #7A7A7A;
						margin-right: 5px;

						.cookDetail {
							color: #7A7A7A;

							&.preTime {
								border: 2px solid #8AB460;
							}

							&.cookTime {
								border: 2px solid #DD975B;
							}

							.duration {
								color: #545454;
								font-size: 20px;
								line-height: 30px;
							}
						}

						.cookDetail, .device {
							width: 50px;
							height: 50px;
							margin: 0 auto;
							background-color: #DADADA;
							@include radius(25px);
						}

						.device {
							border: 2px solid #B8B8B8;
							position: relative;

							.icon {
								display: inline-block;
								width: 40px;
								height: 40px;
								background: url(../images/icon.png) no-repeat;
							}

							.slowcooker {
								background-position: 0 0;
								position: absolute;
								left: 3px;
								top: 2px;
							}
						}

						.infoType {
							width: 64px;
							margin: 10px auto 0;
							color: #EDEDED;
							display: inline-block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space : nowrap;					
						}
					}
				}

				.cookPeople {
					margin: 22px 0 0 0;

					.viewNum {
						margin-left: 10px;
					}
				}
			}

			.steps {
				background-color: #FFF6EC;
				color: #cccccc;
				-webkit-box-shadow: 1px 1px 6px 0px rgba(39,39,39,0.2);
				-moz-box-shadow: 1px 1px 6px 0px rgba(39,39,39,0.2);
				box-shadow: 1px 1px 6px 0px rgba(39,39,39,0.2);	
			}

			.recipeStepCard {
				width: 210px;
				height: 100%;
				padding: 10px;
				margin-right: 15px;
				float: left;	
			}
		}
	}
}

//side_bar
#sidr {
	overflow: hidden;

	.menu {
		background: #EF856B;
		width: 250px;
		height: 490px;
		color: #ffffff;
		position: relative;
		top: 0;
		z-index: 9992;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;

		.user {
			padding: 15px;
			line-height: 12px;
			background-color: #F27456;

			.userName {
				vertical-align: 10px;
				padding-left: 10px;
				font-size: 18px;
			}
		}

		.funcWrap {
			padding: 10px 0;

			li {
				line-height: 44px;
				padding: 0 18px;
				border-bottom: 1px solid #F5947C;
				overflow: hidden;
				font-size: 14px;
				cursor: pointer;

				i {
					vertical-align: -4px;
					padding-right: 8px;
				}

				.info {
					float: right;
					background-color: #E76E50;
					width: 22px;
					height: 22px;
					line-height: 20px;
					@include radius(5px);
					margin-top: 12px;
					text-align: center;
				}

				&:hover {
					background-color: #F27456;

					.info {
						background-color: #F5947C;
					}
				}
			}
		}
	}

	.cbp-spmenu-left {
		left: 0px;

		&.cbp-spmenu-open {
			left: -250px;
		}
	}
}

//search
#search {
	font-size: 14px;
	z-index: 9999;
	background-color: #EF856B;
	display: none;

	.search {
		width: 100%;
		height: 100%;
		overflow: scroll;

		.searchInput {
			padding: 10px;
			height: 34px;
			text-align: left;
			background-color: #FFAC98;
			position: relative;

			.mdi-action-search {
				position: absolute;
				top: 16px;
				left: 15px;
				color: #cccccc;
			}

			input {
				border: 0;
				@include radius(5px);
				height: 24px;
				padding: 4px 10px 4px 30px;
				outline: none;
				width: 68%;
			}

			.bigger {
				-webkit-transition: all 0.6s ease;
				-moz-transition: all 0.6s ease;
				transition: all 0.6s ease;
				width: 85%;
			}

			.cancelBtn {
				padding: 10px 0px 10px 4px;
				color: #ffffff;
				font-size: 0.7em;
				display: inline-block;
			}

			.disappear {
				display: none;
			}
		}

		.category {
			padding: 0 15px;
			color: #ffffff;
			margin: 8px 0;

			span {
				line-height: 30px;
				color: #9D3F0F;
			}

			li {
				padding-left: 20px;
				line-height: 28px;
				border-bottom: 1px solid #F5947C;

				&:hover {
					background-color: #F27456;
				}
			}
		}
	}
}